.mytable{
    width: 959px;
    margin: 25px auto;
    font-family: Arial, Helvetica, sans-serifs;
    text-align: center;
    border-bottom: 2px solid black;
}

.mytable thead{
    display: block;
    height: 105px;
}

.mytable tbody{
    display: block;
    height: 495px;
}

.mytable tfoot{
    display: block;
}
.common{
    width: 159px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    text-shadow: 1px 1px 1px  rgba(0,0,0,0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan{
    line-height: 55px;
    font-size: x-large;
    font-weight: bold;
}

.plan span{
    font-size: small;
    font-weight: lighter;
}

.skyblue{
    background-image: -webkit-linear-gradient(top, #3a8a95, #2f6b75);
}

.green{
    background-image: -webkit-linear-gradient(top, #5d8731, #4a6b26);
}

.yellow{
    background-image: -webkit-linear-gradient(top, #d4a814, #a68210);
}

.orange{
    background-image: -webkit-linear-gradient(top, #c36b21, #99521a);
}

.maroon{
    background-image: -webkit-linear-gradient(top, #954141, #7c3030);
}

.common2{
    width: 159px;
    height: 36px;
}

.tal{
    text-align: left;
    padding-left: 5px;
}


.gray{
    background: #ececec;
}

.white{
    background: #f6f6f6;
}

.checkcolor{
    color: green;
    text-shadow: 2px 2px 2px green;
}

.wrongcolor{
    color: red;
}

.exclamationmark{
   color:white;
   text-align: center;
   padding-top: 2px;
   width: 18px;
   height: 18px;
   border-radius: 10px;
   background:gray;
}

.h60{
    height: 60px;
}

.btn{
    width: 100px;
    height: 29px;
    border-radius: 0px;
    border: none;
    border: 2px solid #093b42;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.mytable td,th{
    border-right: 1px solid white;
}
